{% extends 'layout.html' %}

{% block content %}
    
    <section class="saldo">
        <div>
            <h3>Saldo: </h3>
            <h3>R$ 15.000,00</h3>
        </div>
        
    </section>

    <div class="relatorio-pgto-futuro">
        <div class="resumo">
            <h3>Contas a pagar</h3>
            <h4>Total: R$ 350,00</h4>
        </div>

        <table>
            <thead>
                <tr>
                    <th>101 - Carla Mota</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>31/05/2020</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>31/05/2020</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>31/06/2020</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>31/06/2020</td>
                    <td>18</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}