{% extends 'layout.html' %}

{% block title %}
    <title>Fornecedores | Edf. Alcides</title>
{% endblock title %}

{% block content %}
    
    <section class="init-cadastro">
        <h2>FORNECEDORES</h2>
        <button>Novo</button>
    </section>

    <div class="relatorio-pgto-futuro">
        <div class="resumo">
            <h3>Contas a pagar</h3>
            <h4>Total: R$ 350,00</h4>
        </div>

        <table>
            <thead>
                <tr>
                    <th>101 - Carla Mota</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>31/05/2020</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>31/05/2020</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>31/06/2020</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>31/06/2020</td>
                    <td>18</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}