{% extends 'layout.html' %}

{% set pageId = 'moradores' %}

{% block title %}
    <title>Moradores | Edf. Alcides</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/moradores.css">
{% endblock styles %}

{% block content %}

    <section class="init-cadastro">
        <h2>Moradores</h2>
    </section>

    <div class="moradores">
        <div class="unidades">
            <div class="desc-ap">
                <h3>101</h3>
                <h2>Carla Mota</h2>
            </div>            
            <p>Histórico</p>
        </div>
        <div class="unidades">
            <div class="desc-ap">
                <h3>102</h3>
                <h2>Cláudia Andrade</h2>
            </div>
            <p>Histórico</p>
        </div>
    </div>

    <div class="moradores">
        <div class="unidades">
            <div class="desc-ap">
                <h3>201</h3>
                <h2>Herliene Bandeira</h2>
            </div>
            <p>Histórico</p>
        </div>
        <div class="unidades">
            <div class="desc-ap">
                <h3>202</h3>
                <h2>Angélica Lobo</h2>
            </div>
            <p>Histórico</p>
        </div>
    </div>

    <div class="moradores">
        <div class="unidades">
            <div class="desc-ap">
                <h3>301</h3>
                <h2>Carla Simões</h2>
            </div>
            <p>Histórico</p>
        </div>
        <div class="unidades">
            <div class="desc-ap">
                <h3>302</h3>
                <h2>Bernadete / Ísis</h2>
            </div>
            <p>Histórico</p>
        </div>
    </div>

{% endblock %}