{% extends 'layout.html' %}

{% block content %}

    <section class="saldo">
        <div>
            <h3>Saldo: </h3>
            <h3>R$ 15.000,00</h3>
        </div>
        
    </section>

    <div class="quebra">
        <h1>CONTAS Á VENCER</h1>
    </div>

    <div class="relatorio-pgto-futuro">
        <div class="resumo">
            <h3></h3>
            <h4>Total: R$ 350,00</h4>          
        </div>

        <table>
            <thead>
                <tr>
                    <th>Vencimento</th>
                    <th>Cód.</th>
                    <th>Fornecedor</th>
                    <th>Descrição</th>
                    <th>Competência</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>31/05/2020</td>
                    <td>10</td>
                    <td>Coelba</td>
                    <td>Energia</td>
                    <td>04/2020</td>
                    <td>R$ 350,00</td>
                </tr>
                <tr>
                    <td>31/05/2020</td>
                    <td>12</td>
                    <td>Embasa</td>
                    <td>Água</td>
                    <td>04/2020</td>
                    <td>R$ 60,00</td>
                </tr>
                <tr>
                    <td>31/06/2020</td>
                    <td>11</td>
                    <td>Coelba</td>
                    <td>Energia</td>
                    <td>05/2020</td>
                    <td>R$ 53,00</td>
                </tr>
                <tr>
                    <td>31/06/2020</td>
                    <td>18</td>
                    <td>Embasa</td>
                    <td>Água</td>
                    <td>05/2020</td>
                    <td>R$ 23,00</td>
                </tr>
                <tr>
                    <td>29/07/2020</td>
                    <td>12</td>
                    <td>Embasa</td>
                    <td>Energia</td>
                    <td>06/2020</td>
                    <td>R$ 47,00</td>
                </tr>
                <tr>
                    <td>29/07/2020</td>
                    <td>12</td>
                    <td>Embasa</td>
                    <td>Energia</td>
                    <td>06/2020</td>
                    <td>R$ 47,00</td>
                </tr>
                <tr>
                    <td>29/07/2020</td>
                    <td>12</td>
                    <td>Embasa</td>
                    <td>Energia</td>
                    <td>06/2020</td>
                    <td>R$ 47,00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="quebra">
        <h1>CONTAS VENCIDAS</h1>
    </div>
        
    <div class="relatorio-pgto-aberto">

        <div class="resumo">
            <h3>Contas vencidas</h3>
            <h4>Total: R$ 350,00</h4>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Vencimento</th>
                    <th>Cód.</th>
                    <th>Fornecedor</th>
                    <th>Descrição</th>
                    <th>Competência</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>31/05/2020</td>
                    <td>10</td>
                    <td>Coelba</td>
                    <td>Energia</td>
                    <td>04/2020</td>
                    <td>R$ 350,00</td>
                </tr>
                <tr>
                    <td>31/05/2020</td>
                    <td>12</td>
                    <td>Embasa</td>
                    <td>Água</td>
                    <td>04/2020</td>
                    <td>R$ 60,00</td>
                </tr>
                <tr>
                    <td>31/06/2020</td>
                    <td>11</td>
                    <td>Coelba</td>
                    <td>Energia</td>
                    <td>05/2020</td>
                    <td>R$ 53,00</td>
                </tr>
                <tr>
                    <td>31/06/2020</td>
                    <td>18</td>
                    <td>Embasa</td>
                    <td>Água</td>
                    <td>05/2020</td>
                    <td>R$ 23,00</td>
                </tr>
                <tr>
                    <td>29/07/2020</td>
                    <td>12</td>
                    <td>Embasa</td>
                    <td>Energia</td>
                    <td>06/2020</td>
                    <td>R$ 47,00</td>
                </tr>
                <tr>
                    <td>29/07/2020</td>
                    <td>12</td>
                    <td>Embasa</td>
                    <td>Energia</td>
                    <td>06/2020</td>
                    <td>R$ 47,00</td>
                </tr>
                <tr>
                    <td>29/07/2020</td>
                    <td>12</td>
                    <td>Embasa</td>
                    <td>Energia</td>
                    <td>06/2020</td>
                    <td>R$ 47,00</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}