<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Edf. Alcides</title>
    {% endblock title %}
    <link rel="icon" type="image/png" sizes="16x16" href="/img/assets/favicon-16x16.png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/parts/footer.css">
    <link rel="stylesheet" href="/styles/cadastros.css">
</head>
<body>
    <header>
        <div class="home">
            <img src="/img/assets/logo.png" alt="">
            <p><a href="/">Home</a></p>
        </div>
        <nav>
            <ul class="menu">
                <li>Cadastros
                    <ul>
                        <li><a href="/fornecedores">Fornecedor</a></li>
                        <li><a href="/cadastros">Morador</a></li>
                    </ul>
                </li>
                <li><a href="/cadastros">Recebimentos</a>
                    <ul>
                        <li><a href="/cadastros">Incluir</a></li>
                        <li><a href="/cadastros">Consultar</a></li>
                    </ul>
                </li>
                <li><a href="/cadastros">Despesas</a>
                    <ul>
                        <li><a href="/cadastros">Incluir</a></li>
                        <li><a href="/cadastros">Consultar</a></li>
                    </ul>
                </li>
                <li><a href="/cadastros">Relatórios</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">

        {% block content %}{% endblock %}

    </div>    

    {% include 'parts/footer.html' %}

</body>
</html>